name: "MultipleJobsTrail"
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Test 1"
        run: echo "test"

      - name: "GetCode"
        run: echo "test"
        #uses: actions/checkout@v3
		  
      - name: "Install Node JS"
        uses: actions/setup-node@v3
        with:
          node-version: 18
			 
      - name: "Install dependencies"
        # run: npm install
        run: npm ci  # is installs the dependencies with the versions locked/specified in the package-lock.json

      - name: "Executing the audit"
        # run: npm install
        run: |
          echo "Line one of multi line command"
          ls -lrt
          echo "Trail message by multiline command" 
          pwd
          echo "Last line of multi line command"
      - name: "Test Run"
        run: npm test

  deploy:    
    needs: test  # for multiple jobs "needs: [job1, job2, job3,..]"
    runs-on: ubuntu-latest
    steps:
      - name: "Test"
        run: echo "trail"

      - name: "GetCode"
        uses: actions/checkout@v3
			 
      - name: "Install Node JS"
        uses: actions/setup-node@v3
        with:
          node-version: 18
			 
      - name: "Install dependencies"
        # run: npm install
        run: npm ci  # is installs the dependencies with the versions locked/specified in the package-lock.json

      - name: "Build Project"
        run: npm run build
       
      - name: "Deploy Project"
        run: echo "Deploying ...."

      - name: "End"
        run: echo "Deployment completed ...."
	   
