name: "Test Project"
on: push
jobs: 
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "GetCode"
        uses: actions/checkout@v3
        
      - name: "Install Node JS"
        uses: actions/setup-node@v3
        with:
          node-version: 18
        
      - name: "Install dependencies"
        # run: npm install
        run: npm ci  # is installs the dependencies with the versions locked/specified in the package-lock.json

      - name: "Test Run"
        run: npm test
        

        

      
          
      
